<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Consultancy Agency{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('stylebox/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('stylebox/fontawesome/css/font-awesome.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            
        
        <header class="header">
            <img class="logo-icon" src="{{ asset('images/image1.jpg') }}">
            <h3 class=" companylogo logo"><small class= text-muted> Consultancy Agency</small></h3>
            
        </header>
        </div>
        
        {% block body %}{% endblock %}
       
        {% block javascripts %}
             <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
    <hr>
    <footer class="companyfooter">
     <div class="container">    
        <div class="row-fluid">
		<div class="span12">
			<div class="span2" style="width: 15%;">
				<ul class="unstyled">					
					<li><a href="#">About us</a></li>					
					<li><a href="#">Contact & support</a></li>
					<li><a href="#">Enterprise</a></li>
					<li><a href="#">Site status</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="row-fluid">
		<div class="span12">
			<div class="span8">
				<a href="#">Terms of Service</a>    
				<a href="#">Privacy</a>    
				<a href="#">Security</a>
			</div>
			<div class="span4">
				<p class="muted pull-right">© 2017 Consultancy Firm. All rights reserved</p>
			</div>
		</div>
	</div>
</div>
    </footer>
</html>